<!-- About Me view template -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--Main section--> 
<main class="container"> 
  <div class="jumbotron">
    <h4 class="display-4">Welcome to the <%= title %> page</h4>    
  </div>
<div style="width:980px; margin-left:auto; margin-right:auto;">
<h3>Dmitriy Morozov</h3>
<br>
<br>
<img src= "/Assets/images/Dmitriy_official.png" alt="Dmitriy Morozov" style="float:right; margin-left:8px; margin-bottom:20px;">
<p>Reliable Business Systems Analyst with a background in a dynamic mainframe environment. Strategic thinker who is always moving initiatives forward.  Demonstrates perseverance in the face of technical challenges and varied obstacles.  Applies technical expertise to develop insightful solutions applicable to current business practices, valuing accountability and ownership. </p>
<br>
<a href="/Assets/images/dmorozov-resume-rev3-3.pdf">My Resume</a>
<br>

</div>
</main>


<%- include partials/bottom_nav.ejs %>
  
<%- include partials/footer.ejs %>
