<!-- Home view template -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container"> 
  <div class="jumbotron">
    <h4 class="display-4">Welcome to the <%= title %> page</h4>    
  </div>
<div style="width:980px; margin-left:auto; margin-right:auto;">
<p>I am a strategic thinker with a deep understanding of how business requirements, client needs, and operational functions align with solutions design and development. Skilled at analyzing current processes, past practices, and emerging technologies and methodologies to assist in the design of ground-breaking applications. Keen insight into problem identification and methods to forecast and resolve issues. Operations expertise supported by a background in monitoring quality and accuracy of on-air products and infrastructure troubleshooting in dynamic mainframe environments. Adept at communicating complex technical information across all levels of the organization.  </p>
</div>
</main>

<%- include partials/bottom_nav.ejs %>
  
<%- include partials/footer.ejs %>
