<!-- Projects view template -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container"> 
  <div class="jumbotron">
    <h4 class="display-4">Welcome to the <%= title %> page</h4>    
  </div>
<div style="width:980px; margin-left:auto; margin-right:auto;">
<h3>My projects include:</h3>

<img src="/Assets/images/project1.png" alt="my first webpage ever" style="float:right; margin-left:8px; margin-bottom:4px;">
<p>My first ever webpage which I built during the COMP213 course and which I am still really proud of despite learning far more sophisticated tools and techniques in the later Web Design courses. To me it signifies a mile stone in learning about Information Technologies. In this project I played all the roles: I was the Customer, the Web Designer, the Software Engineer and the Project Manager. To me this project was a complete success. </p>

<p>My second project which I would like to highlight has resulted in optimized operations, increased client satisfaction and reduced complaints after the purchase, installation, activation and the initial setup of the automated Help Desk management software. On this project I was a Technical Lead with the responsibility for documenting, analyzing, and aligning user requirements with business solutions of the company. </p>
<img src="/Assets/images/project2.png" alt="" style="float:left; margin-right:10px; margin-bottom:4px;">


<p>For my third project I would like to talk about the time I was chosen to be an in-house Business Systems Specialist when the company was actively looking to switch from the legacy broadcast management software in a very short period of time. I have effectively and in a timely matter elicited all the business and technical requirements for the project and prepared a Business Requirements Document (BRD). As the result of the successful replacing of the broadcasting software, the broadcast downtime decreased by 12% and resulted in a more stable production environment. </p>
<img src="/Assets/images/project3.png" alt="my first webpage ever" style="float:right; margin-left:8px; margin-bottom:4px;">
<br>
<br>
</div>
</main>

<%- include partials/bottom_nav.ejs %>
  
<%- include partials/footer.ejs %>
