<!-- Services view template -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container"> 
  <div class="jumbotron">
    <h4 class="display-4">Welcome to the <%= title %> page</h4>    
  </div>
<div style="width:980px; margin-left:auto; margin-right:auto;">
<h3>My services:</h3>

<img src="/Assets/images/daria-nepriakhina-zoCDWPuiRuA-unsplash.png" alt="my first webpage ever" style="float:right; margin-left:8px; margin-bottom:4px;">
<!-- unordered list -->
<ul>
  <li>Business Analysis Planning and Monitoring </li>
  <li>Elicitation and Collaboration </li>
  <li>Requirements Life Cycle Management </li>
  <li>Strategy Analysis </li>
  <li>Requirements Analysis and Design Definition </li>
  <li>Solution Evaluation </li>
  <li>ITIL </li>  
</ul> 
<img src="/Assets/images/hunters-race-MYbhN8KaaEc-unsplash.png" alt="" style="float:left; margin-right:10px; margin-bottom:4px;">
<br>
<br>
</div>
</main>

<%- include partials/bottom_nav.ejs %>
  
<%- include partials/footer.ejs %>
